body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;

}

.form-container h2{
    text-align: center;
    color: #4CAF50;
    font-size: 35px;
}
.form-container {
    max-width: 500px;
    margin: 0 auto;

}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
}
.form-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    outline-style: none;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.04), 6px 6px 10px rgba(0, 0, 0, 0.04);
}
.form-group button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.form-group button:hover {
    background-color: #45a049;
}